body {
    display: block;
    position: relative;
}

.maze-container {
    margin: auto;
}

.row {
    margin-left: auto;
    margin-right: auto;

}

.cell__canvas {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

